<h1>Genres</h1>

<table>
  <thead>
    <tr>
      <th>Genre ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each genres}}
    <tr>
      <td>{{genreID}}</td>
      <td>{{name}}</td>
      <td class="actions">
        <form action="/delete-genre" method="POST" style="display:inline;">
          <input type="hidden" name="genreID" value="{{genreID}}" />
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h1>Add New Genre</h1>

<form action="/add-genre" method="POST" class="GenreForm" >
  <div class="formGroup">
    <div class="formTitle">
      <label for="name">Genre Name</label>
      <input type="text" id="name" name="name" required>
    </div>
  </div>
  <button type="submit">Add Genre</button>
</form>
<h1>Update Genre</h1>
<form action="/edit-genre" method="POST" class="GenreForm" id="updateGenreForm">
  <div class="formGroup">
    <div class="formTitle">
      <label for="name">Genre Name</label>
      <select id="genreSelect" name="genreID" required>
      <option value="">Select a genre</option>
      {{#each genres}}
        <option 
          value="{{genreID}}" 
          data-name="{{name}}"
          {{#if @first}}selected{{/if}}>{{name}}</option>
      {{/each}}
      </select>
    </div>
    <span class="arrow">&rarr;</span>
    <div class="formTitle">
      <label for="UPname">New Genre Name</label>
      <input type="text" id="UPname" name="name" required>
    </div>
  </div>
  <button type="submit">Update Genre</button>
</form>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const genreSelect = document.getElementById('genreSelect');
  const genreNameInput = document.getElementById('UPname');

  genreSelect.addEventListener('change', function() {
    const selectedOption = genreSelect.options[genreSelect.selectedIndex];
    if (!selectedOption.value) {
      genreNameInput.value = '';
      return;
    }

    genreNameInput.value = selectedOption.dataset.name;
  });
});
</script>

