<h1>Game Platforms</h1>
<table>
  <thead>
    <tr>
      <th>Platform ID</th>
      <th>Platform Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each platforms}}
    <tr>
      <td>{{platformID}}</td>
      <td>{{platform}}</td>
      <td class="actions">
        <form action="/delete-platform" method="POST">
          <input type="hidden" name="platformID" value="{{platformID}}" />
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<h1>Add New Platform</h1>
<form action="/add-platform" method="POST" class="GenreForm">
  <div class="formGroup">
    <div class="formTitle">
      <label for="platform">Platform Name</label>
      <input type="text" id="platform" name="platform" required>
    </div>
  </div>
  <button type="submit">Add Platform</button>
</form>
<h1>Update Platform</h1>
<form action="/edit-platform" method="POST" class="GenreForm" id="updateGenreForm">
  <div class="formGroup">
    <div class="formTitle">
      <label for="platform">Platform Name</label>
      <select id="platformSelect" name="platformID" required>
        <option value="">Select a platform</option>
        {{#each platforms}}
          <option 
            value="{{platformID}}" 
            data-name="{{platform}}"
            {{#if @first}}selected{{/if}}>{{platform}}</option>
        {{/each}}
      </select>
    </div>
    <span class="arrow">&rarr;</span>
    <div class="formTitle">
      <label for="newPlatform">New Platform Name</label>
      <input type="text" id="newPlatform" name="platform" required>
    </div>
  </div>
  <button type="submit">Update Platform</button>
</form>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const platformSelect = document.getElementById('platformSelect');
  const newPlatformInput = document.getElementById('newPlatform');

  platformSelect.addEventListener('change', function() {
    const selectedOption = platformSelect.options[platformSelect.selectedIndex];
    if (!selectedOption.value) {
      newPlatformInput.value = '';
      return;
    }

    newPlatformInput.value = selectedOption.dataset.name;
  });
});
</script>
