<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Number of Games</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{userID}}</td>
      <td>{{username}}</td>
      <td>{{email}}</td>
      <td>{{numGames}}</td>
      <td class="actions">
        <form action="/delete-user" method="POST">
          <input type="hidden" name="userID" value="{{userID}}" />
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h1>Add User</h1>
<form action="/add-user" method="POST" class="UserForm">
<div class="formGroup">
  <div class="formTitle">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
  </div>

  <div class="formTitle">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>

</div>

  <button type="submit">Add User</button>
</form>

<h1>Update User</h1>
<form action="/edit-user" method="POST" class="UserForm">
  <div class="formGroup">
    <div class="formTitle">
      <label for="username">Username</label>
      <select id="userSelect" name="userID" required>
      <option value="">Select a user</option>
      {{#each users}}
        <option 
          value="{{userID}}" 
          data-name="{{username}}" 
          data-email="{{email}}"
          {{#if @first}}selected{{/if}}>{{username}}</option>
      {{/each}}
      </select>
    </div>
    <span class="arrow">&rarr;</span>
    <div class="formTitle">
      <label for="userName">New Username</label>
      <input type="text" id="userName" name="username" required />
    </div>

    <div class="formTitle">
      <label for="UPemail">Email</label>
      <input type="email" id="UPemail" name="email" value="coolio@example.com" required>
    </div>

  
  </div>
  <button type="submit">Update User</button>
</form>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const userSelect = document.getElementById('userSelect');
  const userNameInput = document.getElementById('userName');
  const emailInput = document.getElementById('UPemail');

  userSelect.addEventListener('change', function() {
    const selectedOption = userSelect.options[userSelect.selectedIndex];
    if (!selectedOption.value) {
      emailInput.value = '';
      userNameInput.value = '';
      return;
    }

    emailInput.value = selectedOption.dataset.email;
    userNameInput.value = selectedOption.dataset.name;
  });
});
</script>